### Data Types

Print out an example of an integer, a float, a string, and a boolean.

In [11]:
print(1)
print(9==9)
print(3.1459)
print("Hello world!")

1
True
3.1459
Hello world!

### Tuples

What is a tuple? Provide an example of a tuple, let it include at least 6 elements. Can you include different data types in a tuple?

In [1]:
my_tuple = ("red", "blue", 4, "yellow", "black", "white")

Print the first and the last element of your tuple. How do indexes work in Python?

In [2]:
print(my_tuple[0])
print(my_tuple[-1])

red
white

Slice your tuple. Print elements of your tuple from the 1st to the 4th inclusive.

In [6]:
print(my_tuple[0:4])

('red', 'blue', 'green', 'yellow')

Now print every 2nd element of the tuple.

In [7]:
print(my_tuple[1])
print(my_tuple[3])
print(my_tuple[5])

blue
yellow
white

Can you change one of the elements of your tuple? Why?

No, tuples are ordered and immutable by design.

### Lists

What is a list? Provide an example of a list, let it include at least 6 elements. Can you include different data types in a list?

In [12]:
my_list = ["tomato", "corn", "eggplant", "carrot", "potato", "broccoli"]

Can you change one of the elements of your list? Change the first element to a string "data".

In [13]:
my_list[1] = "data"

Can you convert your tuple into a list?

In [14]:
list(my_tuple)

['red', 'blue', 'green', 'yellow', 'black', 'white']

Can you convert it back to tuple?

In [15]:
tuple(my_tuple)

('red', 'blue', 'green', 'yellow', 'black', 'white')

Can you add a number **22** to the end of your list without recreating it?

In [20]:
my_list.append("22")
print(my_list)

['tomato', 'data', 'eggplant', 'carrot', 'potato', 'broccoli', '22', '22', '22', '22']

Can you remove it now?

In [24]:
my_list.pop()
print(my_list)

['tomato', 'data', 'eggplant', 'carrot', 'potato', 'broccoli']

Slice your list. Print elements of your list: from 2nd to the last element.

In [28]:
print(my_list[1:6])

['data', 'eggplant', 'carrot', 'potato', 'broccoli']

Now print every 3rd element of the list.

In [31]:
print(my_list[2])
print(my_list[5])

eggplant
broccoli

### Dictionaries

What is a dictionary? Create a dictionary, where keys are classes you took in 11th grade and values are  measures of interest in those classes on the scale from 1 to 10. For example, if you took astronomy class and had no interest in it, your key 'astronomy' will point to value '1'.

In [32]:
my_dictionary = {
    "AP CS" : 10,
    "English" : 9,
    "History" : 8,
    "Physics" : 8,
    "Math" : 6,
    "Poetry" : 3
}

Print out the value for the first key in your dictionary

In [33]:
print(my_dictionary["AP CS"])

10

Print out all keys of your dictionary

In [35]:
print(my_dictionary.keys())

dict_keys(['AP CS', 'English', 'History', 'Physics', 'Math', 'Poetry'])

Print out all values of your dictionary

In [36]:
print(my_dictionary.values())

dict_values([10, 9, 8, 8, 6, 3])

Print out all key-value pairs. Consider using a **for loop** and **my_dictionary.items()**

In [38]:
for keys, values in my_dictionary.items():
    print(keys, values)

AP CS 10
English 9
History 8
Physics 8
Math 6
Poetry 3